@import "../Theme.module.scss";

.add-kid {
  position: absolute;
  bottom: 60px;
  font-size: 15px;
  font-weight: bold;
  background-color: $secondery-color2;
  padding: 15px;
  //margin-top: 60px;
  border-radius: $border-radius;

  &:hover {
    background-color: $secondery-color2-hover;
    cursor: pointer;
  }
}
